{% extends 'base.html.twig' %}

{% block title %}
    Liste des employées
{% endblock %}

{% block body %}
    <h1>Liste des classes</h1>

    <table>
        <thead>
        <th>ID</th>
        <th>Libelle</th>

        </thead>
        {% for classe in arrayClasses %}
        <tbody>
        <tr>
            <td>{{ classe.idClasse }}</td>
            <td>{{ classe.libelleClasse }}</td>

        </tr>
        {% else %}
            <tr><td>Aucun film n'a été trouvé.</td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

