<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets
            '@AppBundle/Resources/public/css/index2.css'
        '@AppBundle/Resources/public/css/index.css'
            '@AppBundle/Resources/public/css/bootstrap.css'
            '@AppBundle/Resources/public/css/bootstrap-theme.css'
            filter='cssrewrite'%}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    {% block body %}{% endblock %}
    <body>
    {% javascripts
    '@AppBundle/Resources/public/js/jquery.js'


    %}
    <script src="{{ asset_url }}"></script>
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endjavascripts %}

        {% block javascripts %}{% endblock %}
    </body>

</html>
