{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur votre portail Insta'Note
{% endblock %}

{% block body %}
    <a href="{{ path ('logout') }}">Déconnexion</a>
    <h1 id="titreIndex">Vous pouvez consulter :</h1>

    <div class="col-sm-6 col-md-3 outer-div left-div" >
        <div id="suivi" class="thumbnail inner-div"><a href="{{ path('admin_eleve_affichenote') }}"> Votre suivi scolaire </a></div>
    </div>
    <div class="col-sm-6 col-md-3 outer-div">
        <div id="absence" class="thumbnail inner-div"><a href="{{ path('admin_eleve_afficheabsence') }}"> Vos absences </a></div>
    </div>



{% endblock %}

