{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur votre portail Insta'Note
{% endblock %}

{% block body %}
    <h1 id="titreIndex">Vous pouvez consulter :</h1>
    <div id="menu">
        <span id="suivi">Votre suivi scolaire</span>
        <span id="absence">Vos absences</span>
    </div>



{% endblock %}

