{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur votre portail Insta'Note
{% endblock %}

{% block body %}
    <h1 id="titreIndex">Vous pouvez consulter :</h1>

    <div class="col-sm-6 col-md-3 outer-div" >
        <div id="suivi" class="thumbnail tile tile-medium tile-teal inner-div"><a href="{{ path('admin_note_affichenote') }}"> Votre suivi scolaire </a></div>
    </div>
    <div class="col-sm-6 col-md-3 outer-div">
        <div id="absence" class="thumbnail tile tile-medium tile-teal inner-div"><a href="{{ path('admin_note_afficheabsence') }}"> Vos absences </a></div>
    </div>



{% endblock %}

