{% extends 'base.html.twig' %}


{% block title %}
    Liste des employées
{% endblock %}

{% block body %}

    <div class="tableaunote">
        <h1>Liste des notes de : </h1>

        <table>
            <thead>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Matiere</th>
            <th>Note</th>

            </thead>
            {% for note in arrayNotes %}
            <tbody>
            <tr>
                <td>{{ note.nom }}</td>
                <td>{{ note.prenom }}</td>
                <td>{{ note.nomModule }}</td>

                <td>{{ note.note }}</td>


            </tr>
            {% else %}
                <tr><td>Vous n'avez pas encore de classe(s).</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

