{% extends 'base.html.twig' %}


{% block title %}
    Liste des employées
{% endblock %}

{% block body %}

    <div class="tableaunote">
        <h1>Liste des notes de : </h1>

        <table>
            <thead>
            <th>Matiere</th>
            <th>Note</th>

            </thead>

            <tbody>
        {#J'arrive à afficher chaque module mais pas leur notes respectives
        cf. noteAction dans le ElevesController qui appelle les différentes fonctions loadxxx du EleveManager qui exécute les requêtes du EleveRepository
        #}
            {% for module in arrayModules %}
            <tr>
                <td>{{ module.nomModule }}</td>
                <td>
                    {% for key in arrayNotes %}
                        {{ dump(key) }}
                            {#{% for note in value %}#}
                            {#{{ dump(note) }}&nbsp;&nbsp;&nbsp;&nbsp;#}
                            {#{% endfor %}#}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}

{{ dump (arrayNotes) }}
            </tbody>
        </table>
    </div>

{% endblock %}

