{% extends 'base.html.twig' %}


{% block title %}
    Liste des employées
{% endblock %}

{% block body %}

    <div class="tableaunote">
        <h1>Liste des notes de : </h1>

        <table class="table" border="">
            <thead class="thead-inverse">
            <th>Matiere</th>
            <th>Note</th>

            </thead>

            <tbody>
        {#J'arrive à afficher chaque module mais pas leur notes respectives
        cf. noteAction dans le ElevesController qui appelle les différentes fonctions loadxxx du EleveManager qui exécute les requêtes du EleveRepository
        #}
            {% for key, value in arrayNotes %}
            <tr>
                <td>{{ key }}</td>
                <td>
                    {% for note in value %}
                        {% for unite in note %}
                            {{ unite }} &nbsp;&nbsp;&nbsp;
                        {% endfor %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

