{% extends 'base.html.twig' %}


{% block title %}
    Liste des employées
{% endblock %}

{% block body %}
    <div class="tableau">
    <h1>Liste des classes de : </h1>

    <table>
        <thead>
        <th>Classe</th>
        <th>Moyenne de la classe</th>
        <th></th>

        </thead>

        <tbody>
        {% for key, libelle in arrayClasses %}
            <tr>
                <td>
                    {% for lib, value in libelle %}
                        {{ lib }}
                    {% endfor %}
                </td>
                <td>
                    {% for value in libelle %}
                        {% for unite in value %}
                            {% for unit in unite %}
                                {{ unit }}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('admin_professeur_listeMatiere', { 'idClasse': key }) }}">
                        Voir
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
        </div>

{% endblock %}

