{% extends 'base.html.twig' %}

{% block title %}
    Liste des employées
{% endblock %}

{% block body %}
    <h1>Liste des classes de : </h1>

    <table>
        <thead>
        <th>Libelle</th>

        </thead>
        {% for classe in arrayClasses %}
        <tbody>
        <tr>
            <td>{{ classe.libelleClasse }}</td>

        </tr>
        {% else %}
            <tr><td>Vous n'avez pas encore de classe(s).</td></tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

