{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur votre portail Insta'Note
{% endblock %}

{% block body %}
    <h1 id="titreIndex">Vous pouvez consulter :</h1>

    <div class="col-sm-6 col-md-3 outer-div left-div" >
        <div class="btn btn-success" id="suivi" class="thumbnail inner-div"><a href="{{ path('admin_professeur_listeClasse') }}"> Vos classes </a></div>
    </div>
    <div class="col-sm-6 col-md-3 outer-div">
        <div  class="btn btn-success" id="absence" class="thumbnail inner-div"><a href="{{ path('admin_eleve_afficheabsence') }}"> Vos absences </a></div>
    </div>
    <div class="col-sm-6 col-md-3 outer-div">
        <div class="btn btn-success" id="note" class="thumbnail inner-div"><a href="{{ path('admin_professeur_addnote') }}"> Ajouter une note </a></div>
    </div>




{% endblock %}

