#titreIndex
{
    text-align: center;
    margin-top: 10%;
}

#menu
{
    text-align: center;
    margin-top: 5%;
}

#suivi
{

}

#absence
{
    margin-left: 10%;
}

.tableaunote{

}

table
{
    width: 100%;
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    height: 100%;
    text-align: center;
    border: 1px solid black;

}