
body a{
    color: black;
    font-size: large;
}

#titreIndex
{
    margin-top: 10%;
    text-align: center;
}

.left-div
{
    margin-left: 12.5%;
}

.left-div-eleve
{
    margin-left: 25%;
}

.outer-div {
    padding: 30px;
    text-align: center;
    margin-top: 5%;
}

.inner-div {
    display: inline-block;
    padding: 50px;
}

#suivi
{
    display: inline-block;
    padding: 50px;
}

#absence
{
    margin-left: 5%;
    display: inline-block;
    padding: 50px;
}

#note
{
    margin-left: 5%;
    display: inline-block;
    padding: 50px;
}
table#cadre{
    -moz-border-radius: 20px;
    border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
}

td {
    width: 30%;
    font-size: large;

}
td a{

    font-weight: bold;
    text-decoration: underline;
}
th{
    width: 30%;
    height: auto;
    text-align: center;
    color: white;

}

td.red{
    color: red;
}
td.nomeleve{
    text-transform: uppercase;
}
thead{
    background-color: #0f0f0f ;
}

#formulaire input{
    right: 20px;
}

#formulaire label{
    font-size: 25px;
    text-align: justify;
}

table .elevenote input{
    margin-left: 30%;
    width: 20%;
}
table .elevecoef input{
    margin-left: 3%;
    width: 20%;
}
table .elevecoef label{
    margin-right: 8.8%;
}

#note_dateNote{
    margin-left: 31%;
    top: 20%;
}
table.editab{

    width: 20%;
}


